body {
    background-color: #f0f0f0;
    font-family: Arial, sons-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

.primary-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.primary-btn:hover{
    background-color: #45a049;
}

.secondary-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.secondary-btn:hover {
    background-color: #007B9C;
}

